.admin-panel {
    border: 1px solid #999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 20%;
    opacity: 0.3;
    padding: 15px;
}

.admin-panel a {
    display: block;
}

.admin-panel:hover {
    opacity: 1;
}

.page-item {
    padding-top: 10px;
}

/*
    Для начала, сделаем так, чтобы админская панелька
    была более красивой.

    Чтобы джанго знала об существовании этого файла, заходим
    в директорию нашего основного приложения (не блог) и там,
    в файле settings, в самом низу находим STATIC_URL

    Как джанго по дефолту ищет шаблоны в папке templates,
    так и тут, по дефолту ищет все стили там

    Но мы воспользуемся особой переменной:
    STATICFILES_DIRS, которой присвоим значение списка такого вида
    STATICFILES_DIRS = [
        os.path.join(BASE_DIR, 'static')
    ]
    где BASE_DIR - абсолютный путь до корня проекта в этой системе
    для исходников, и дальше - название папок

    Таким образом, джанго будет искать не только в папке с главным приложением,
    но и в папке в корне проекта, до которой путь абсолютный

    Осталось только подключить наш файл в шаблоне, сделаем это в самом базовом
    и напишем: {% load static %}, после чего уже можно внутри html
    подключать css, но как его имя указывать {% static 'css/styles.css' %},
    чтобы веб сервер нормально определил к ним путь

    Тонкий момент по поводу оформления: если все остальные свойства понятны,
    то как мы сделали расположения элементов вертикальным? Взяли из
    бутстрапа класс align-items-center, но она работает с объектами
    блочными, когда как у нас ссылки строчные! Применяем display-block
    к ссылкам, чтобы всё сработало


*/